*{
  background: linear-gradient(to left,rgb(226, 21, 21)  , orange);
  align-items: center;
  border-radius: 8px;
}
.App{
  display: flex;
align-items: center;
justify-content: center;
padding-top:20px;
column-gap: 10px;
}
.sub{
  display: flex;
align-items: center;
justify-content: center;
padding-top:250px;
font-size: 20px;


}

button{
  cursor: pointer;
  box-shadow: 6px 6px 6px rgb(53, 46, 46);
  height: 35px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  text-shadow: 6px 6px 6px rgb(44, 41, 41);

}
button:hover{
  background: linear-gradient(to top,rgb(31, 190, 230)  , rgb(209, 9, 119));
  border:none;
  box-shadow: 6px 6px 6px rgb(54, 47, 47);

 }